.title {
  width: 100%;
  max-width: 41vw;
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 900;
  line-height: 1.2;
}

.welcome-descr {
  line-height: 1.5;
}

.subtitle {
  margin-bottom: 20px;
}

.text-rules_title {
  font-weight: bold;
}
